/* Resets y estilos generales */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

body {
    background: #1c2533;
    color: #fff;
}

main {
    max-width: 1420px;
    margin: 0 auto;
}

/* Navbar */

.logo {
    width: 400px;
}

.navbar__child {
    height: 20vh;
    padding-right: 0;
}

.div__ul {
    flex-grow: 0;
}

.ul__container {
    width: 520px;
    height: 51px;
    background: linear-gradient(89.91deg, rgba(78, 205, 196, 0.82) 0.08%, #4ECDC4 40.87%, #FD6B6B 82.84%, rgba(253, 107, 107, 0.11) 99.94%);
    border-radius: 25px 0px 0px 25px;
    right: 0;
    justify-content: flex-start !important;
}

nav ul li {
    margin: 0 2em;
}

ul li a {
    color: white;
    font-family: 'Roboto';
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}

ul li a::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2.5px;
    background: white;
    display: inline-block;
    top: 100%;
    transform: scaleX(0);
    left: 0px;
    transition: .3s ease all;
}

ul li a:hover::after {
    width: 100%;
    transform: scaleX(1);
}

/* Presentation */

.presentation {
    min-height: 80vh;
}

.presentacion__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion__texts h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
}

.presentacion__texts p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    margin-top: 3.75rem;
    text-align: center;
}

.btn-alkimia {
    width: 200px;
    text-align: center;
    display: block;
    color: #fff;
    font-family: 'Rubik';
    font-size: 22px;
    font-weight: 600;
    padding: 10px 50px;
    background: linear-gradient(180deg, #ED6A6D 0%, #5EBFBC 100%);
    border-radius: 57px;
    background-size: 100% 300%;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transition-duration: .5s;
}

a.btn-alkimia:hover {
    background-position: 0 100%;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.presentacion__gradient {
    position: absolute;
    width: 600px;
    height: 350px;
    border-radius: 50%;
    left: 45%;
    top: 30%;
    background: linear-gradient(9deg, rgba(28, 37, 51, 1) 0%, rgba(78, 205, 196, 1) 48%, rgba(28, 37, 51, 1) 100%);
    filter: blur(90px);
    transform: rotate(49deg);
    z-index: -1;
}

/* services */

.services__h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    position: relative;
}

.services__h2::before {
    content: 'Nuestros servicios';
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    filter: blur(6px);
    position: absolute;
    top: -35px;
    color: #4ECDC4;
    z-index: -1;
}

.services {
    max-width: 1400px;
    margin: auto;
}

.card-left,
.card-right {
    margin: 4em 0;
}

.card-left .card__img,
.card-right .card__img {
    width: 380px;
    height: 260px;
    border-radius: 25px;
}

.card-right {
    display: flex;
    height: 300px;
    margin-right: 10%;
    border-radius: 0px 25px 25px 0px;
    background: linear-gradient(269.37deg, rgba(255, 174, 174, 0.75) 0.47%, rgba(255, 255, 255, 0) 96.95%);
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}

.card-left {
    display: flex;
    flex-direction: row-reverse;
    height: 300px;
    margin-left: 10%;
    border-radius: 25px 0px 0px 25px;
    background: linear-gradient(-269.37deg, rgba(255, 174, 174, 0.75) 0.47%, rgba(255, 255, 255, 0) 96.95%);
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}

.card-rigth__child {
    width: 95%;
    display: flex;
    margin-left: 11%;
    justify-content: space-between;
    align-items: center;
}

.card-left__child {
    width: 95%;
    display: flex;
    margin-right: 11%;
    justify-content: space-between;
    align-items: center;
}

.card__info {
    width: 50%;
    padding: 2em;
}

.subindex {
    margin: 1.4em;
    align-self: start;
}

/* Nosotros */

.nosotros{
    margin: 5em 0;
}

.nosotros__h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    position: relative;
}

.nosotros__h2::before {
    content: 'Nosotros';
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    filter: blur(6px);
    position: absolute;
    top: -35px;
    color: #4ECDC4;
    z-index: -1;
}

.nosotros__card-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    margin: 4em 0;
}

.nosotros__card {
    width: 330px;
    height: 480px;
    margin: 2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
}

.nosotros__card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #4ECDC4 31.96%, #FD6B6B 88.21%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    top: -10px;
    right: -10px;
    z-index: -1;
}

.nosotros__card-data {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}

.nosotros__card-data img {
    margin-top: -20px;
    margin-left: -5px;
}

.nosotros__card-data p {
    position: absolute;
    font-style: normal;
    width: 70%;
    margin-left: 34px;
}

.nosotros__name {
    top: 65%;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 22px;
    line-height: 115%;
}

.nosotros__professions {
    top: 75%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Rubik';
}

/* Contacto */

hr{
    border: 1px solid white;
}

.contact form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 700px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 30px;
    background: #0B0818;
}

.contact form input, .contact form textarea {
    background: #344456 ;
    border: none;
}

.contact form input::placeholder, .contact form textarea::placeholder {
    color: #fff;
}

.form-group{
    margin: 1.4em 0;
}

form .btn-alkimia{
    margin: 0 auto;
}