/* Resets y estilos generales */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

body {
    background:#0B0818;
    color: #fff;
}

main {
    max-width: 1420px;
    margin: 0 auto;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

.gradient {
    position: absolute;
    z-index: -1;
    width: 70%
}

.nosotros, .accordion-section, .nuestros-trabajos, .contact{
    margin: 9em 0;
}

section > h2{
    margin: 1em 0;
}

/* Navbar */

.logo {
    width: 400px;
}

.logo-top {
    display: none;
}

.alkimia-logo {
    display: block;
    width: 37px;
    position: fixed;
    top: 28px;
    left: 16px;
    z-index: 100;
}

.navbar__child {
    padding: 0;
    margin-top: 3vh;
}

.div__ul {
    flex-grow: 0;
}

.ul__container {
    width: 370px;
    height: 51px;
    right: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(89.91deg, #4ccdc4d1 0.08%, #4ECDC4 40.87%, #FD6B6B 81.84%, rgba(253, 107, 107, 0.11) 99.94%);
    border-radius: 25px 0px 0px 25px;
    display: flex !important;
}

nav ul li {
    margin: 0 2em;
}

ul li a {
    color: white;
    font-family: 'Roboto';
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin-left: -25px;
}

ul li a::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2.5px;
    background: white;
    display: inline-block;
    top: 100%;
    transform: scaleX(0);
    left: 0px;
    transition: .3s ease all;
}

ul li a:hover::after {
    width: 100%;
    transform: scaleX(1);
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav li:last-child{
    display: none;
}

.nav-fixed{
    width: 70px;
    position: fixed;
    background: #4ECDC4 ;
}

.nav-fixed > *{
    display: none;
}

.nav-fixed li:last-child{
    display: block;
    font-size: 40px;
    margin-right: 20px;
}

.nav-fixed:hover{
    width: 370px;
    background: linear-gradient(89.91deg, #4ccdc4d1 0.08%, #4ECDC4 50.87%, #FD6B6B 100%);
}

.nav-fixed:hover > *{
    display: block;
}

.nav-fixed:hover > #arrow-id{
    display: none!important;
}


/* Presentation */

.presentation{
    margin-bottom: 90px;
}

.presentacion__texts {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    align-items: center;
    justify-content: space-evenly;
}

.presentacion__texts h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1;
    text-align: center;
}

.presentacion__texts p {
    font-family: 'Rubik';
    font-style: normal;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    margin-top: -60px;
}

.presentacion__texts a {
    margin-top: -30px;
}

.btn-alkimia {
    width: 140px;
    height: 45px;
    text-align: center;
    display: block;
    color: #fff;
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 600;
    background: linear-gradient(180deg, #ED6A6D 0%, #5EBFBC 100%);
    border-radius: 57px;
    background-size: 100% 300%;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transition-duration: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-alkimia:hover {
    background-position: 0 100%;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.presentacion__gradient {
    position: absolute;
    border-radius: 50%;
    left: 10%;
    top: 15%;
    z-index: -1;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
}

.pre__gradient1{
    width: 350px;
    height: 240px;
    background: linear-gradient(9deg, #0B0818 0%, rgba(78, 205, 196, 1) 48%, #0B0818 100%);
    filter: blur(100px);
    animation-name: gradient-blue;
}

.pre__gradient2{
    width: 300px;
    height: 200px;
    background: linear-gradient(89deg, #0B0818 0%, hsla(0, 97%, 71%, 1) 50%, #0B0818 100%);
    filter: blur(78px);
    animation-name: gradient-orange;
}

@keyframes gradient-orange {
    0% {
        transform: translate(20vw, 25vh);
    }

    10% {
        transform: translate(15vw, 25vh);
        opacity: 0.7;
    }

    20% {
        transform: translate(10vw, 35vh);
        opacity: 0.5;
    }

    25% {
        opacity: 0.5;
    }

    30% {
        transform: translate(5vw, 35vh);
        opacity: 0.5
    }

    40% {
        transform: translate(5vw, 45vh);
        opacity: 0.7;
    }

    50% {
        transform: translate(0vw, 50vh);
        opacity: 0.7;
    }

    60% {
        transform: translate(5vw, 55vh);
        opacity: 1;
    }

    70% {
        transform: translate(5vw, 45vh);
    }

    80% {
        transform: translate(10vw, 35vh);
    }

    90% {
        transform: translate(15vw, 25vh);
    }

    100% {
        transform: translate(20vw, 25vh);
    }
}

@keyframes gradient-blue {
    0% {
        transform: translate(65vw, 25vh);
    }

    10% {
        transform: translate(60vw, 20vh);
        opacity: 0.7;
    }

    20% {
        transform: translate(55vw, 15vh);
        opacity: 0.5;
    }

    30% {
        transform: translate(50vw, 10vh);
        opacity: 0.5;
    }

    40% {
        transform: translate(45vw, 10vh);
        opacity: 0.7;
    }

    50% {
        transform: translate(40vw, 5vh);
        opacity: 1;
    }

    60% {
        transform: translate(45vw, 10vh);
    }

    70% {
        transform: translate(50vw, 15vh);
    }

    80% {
        transform: translate(55vw, 20vh);
    }

    90% {
        transform: translate(60vw, 20vh);
    }

    100% {
        transform: translate(65vw, 25vh);
    }
}

/* services */

.services__h2 {
    margin-top: 1em;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    position: relative;
}

.services__h2::before {
    content: 'Nuestros servicios';
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-size: 85px;
    filter: blur(6px);
    position: absolute;
    top: -42px;
    left: 298px;
    color: #4ECDC4;
    z-index: -1;
}

.services__vector{
    transform: rotate(175.87deg);
    left: 200px;
}

.services h3 {
    color: #FD6B6B;
    margin: 14px 0;
}

.card-left,
.card-right {
    margin: 4em 0;
}

.card-left .card__img,
.card-right .card__img {
    width: 380px;
    height: 260px;
    border-radius: 10px;
    object-fit: cover;
}

.card-right {
    display: flex;
    height: 300px;
    margin-right: 20%;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 90.62%);
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}

.card-left {
    display: flex;
    flex-direction: row-reverse;
    height: 300px;
    margin-left: 20%;
    border-radius: 10px;
    background: linear-gradient(260deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 90.62%);
    filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.25));
}

.card-rigth__child {
    width: 95%;
    display: flex;
    margin-left: 11%;
    justify-content: space-between;
    align-items: center;
}

.card-left__child {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 11%;
    justify-content: space-between;
    align-items: center;
}

.card__info {
    width: 50%;
    padding: 2em;
}

.subindex {
    margin: 1.4em;
    align-self: start;
}

#services {
    overflow-x: hidden!important;
}

/* Nosotros */

.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros__h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    position: relative;
}

.nosotros__h2::before {
    content: 'Nosotros';
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-size: 85px;
    filter: blur(6px);
    position: absolute;
    top: -42px;
    left: -85px;
    color: #FD6B6B;
    z-index: -1;
}

.nosotros__p {
    margin-bottom: 2em;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 113.34%;
    text-align: center;
    width: 80%;
}

.nosotros__card-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

.nosotros__card:nth-last-of-type(1) {
    margin-bottom: 0;
}

.nosotros__card {
    width: 330px;
    height: 480px;
    margin: 2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
}

.nosotros__card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #4ECDC4 31.96%, #FD6B6B 88.21%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    top: -10px;
    right: -10px;
    z-index: -1;
}

.nosotros__card-data {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}

.nosotros__card-data img {
    margin-top: -38px;
    margin-left: -35px;
}

.nosotros__card-data .card-data__img1 {
    margin-left: -70px;
}

.nosotros__card-data .card-data__img3 {
    margin-top: -3px;
}


.nosotros__card-data p {
    position: absolute;
    font-style: normal;
    width: 80%;
    margin-left: 34px;
}

.nosotros__name {
    top: 82%;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 22px;
    line-height: 115%;
}

.nosotros__professions {
    top: 90%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Rubik';
}

/* Nuestra fórmula */

.formula__h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    position: relative;
}

.formula__h2::before {
    content: 'Nuestra fórmula';
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-size: 85px;
    filter: blur(6px);
    position: absolute;
    top: -42px;
    left: 345px;
    color: #4ECDC4;
    z-index: -1;
}

.accordion-section__child {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.accordion {
    width: 40%;
}

.accordion * {
    background-color: transparent !important;
    color: white;
}

.accordion-item {
    margin: 20px 0;
    border: 1px solid #fff !important;
    border-radius: 5px;
}

.accordion-item img {
    width: 30px;
    margin-right: 1em;
}

.accordion-button {
    font-weight: bold;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus {
    box-shadow: inherit;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    border-bottom: 1px solid #fff;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(100%);
}

/* Nuestros trabajos */

.trabajos__h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    position: relative;
}

.trabajos__h2::before {
    content: 'Nuestros trabajos';
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-size: 85px;
    filter: blur(6px);
    position: absolute;
    top: -42px;
    left: 296px;
    color: #FD6B6B;
    z-index: -1;
}

.nuestros-trabajos h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.nuestrosTrabajos__vector{
    transform: rotate(122.63deg);
    margin-top: -230px;
}

.carrousel-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.carrousel-card {
    width: 309px;
    height: 388px;
    border-radius: 15px;
    margin-top: 1.5em;
    position: relative;
}

.carrousel-card img {
    width: 309px;
    height: 388px;
}

.carrousel-text {
    width: 309px;
    height: 71px;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    opacity: 0.8;
    backdrop-filter: blur(25px);
    border-radius: 0px 0px 15px 15px;
}

.carrousel-text p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #1F2937;
    margin-top: 10px;
    margin-left: 20px;
    width: 70%;
}

.carrousel-detail {
    position: absolute;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    bottom: -100px;
    left: 15px;
    height: 85px;
}

.swiper-pagination{
    bottom: 0px!important;
}

.swiper{
    width: 73%;
}

.swiper-button-prev, .swiper-rtl, .swiper-button-next {
    height: 47px;
    width: 47px;
    color: rgb(31, 41, 55);
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
}

.swiper-button-prev::after{
    margin-right: 5px;
    font-size: 30px;
    font-weight: bold;
}

.swiper-button-next::after{
    margin-left: 5px;
    font-size: 30px;
    font-weight: bold;
}

.swiper-pagination-bullet-active{
    background-color: rgb(31, 41, 55);
}

/* Contacto */

.contact{
    margin-bottom: 2em;
}

hr {
    border: 1px solid white;
}

.contact__titles {
    width: fit-content;
    text-align: center;
    margin: 0 auto 7em auto;
}

.contact__titles h2 {
    font-size: 32px;
}

.contact__titles img {
    margin-bottom: 4em;
}

.contact img {
    width: 180px;
}

.contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 620px;
    height: 527px;
    border-radius: 30px;
    background: #0B0818;
}

.contact form input,
.contact form textarea {
    background: #344456;
    border: none;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
    color: #fff;
}

input {
    margin: 1.5em 0;
}

form .btn-alkimia {
    margin: 0 auto;
    margin-top: 10px;
}

button[type="submit"] {
    border: none;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    min-height: 30vh;
}

.icons-container {
    display: flex;
    justify-content: space-around;
    width: 700px;
    margin: 0 auto;
}

footer img {
    width: 80px;
}

.icon-whatsapp {
    width: 80px;
    position: fixed;
    bottom: 2%;
    right: 1%;
    color: white;
    font-size: 3rem;
    padding: 0.6rem;
}

/* Responsive */


@media (max-width: 1280px){
    .swiper{
        width:85%;
    }

    .swiper-button-next{
        margin-right: 20px;
    }

    .services__h2::before {
        font-size: 72px;
    }

    .nosotros__h2::before{
        font-size: 72px;
        left: -58px;
    }

    .formula__h2::before{
        font-size: 72px;
    }

    .trabajos__h2::before{
        font-size: 72px;
    }
}

@media (max-width: 1229px){
    /*.swiper-button-next{
        margin-right: 0px;
    }
    
    .swiper{
        margin-left: 140px;
    }*/
}


@media (max-width: 1040px){
    .services__h2::before, .nosotros__h2::before, .trabajos__h2::before, .formula__h2::before {
        display: none;
    }
    
    .presentacion__gradient, .gradient {
        display: none;
    }

    .presentation{
        margin-bottom: 0;
    }

    .presentacion__texts{
        min-height: 50vh;
    }

    .presentacion__texts p, .presentacion__texts a {
        transform: translateY(-70px);
        margin-top: 20px;
    }
    
    .card-right{
        margin-right: 5%;
    }

    .card-left{
        margin-left: 5%;
    }

    .accordion-section__img{
        width: 40%;
    }
}

@media (max-width: 1040px){
    .swiper-slide-active{
        left: 35%;
    }

    .swiper-button-prev, .swiper-button-next{
        display: none;
    }
    .swiper-pagination {
        bottom: -4px!important;
    }
}

@media (max-width: 991px){

    .ul__container {
        background: rgba(0, 0, 0, 0.301);
        margin: 1em auto;
        border-radius: 15px;
        width: 70%;
        height: auto;
    }

    nav ul li {
        margin: 1em;
    }

    ul li a{
        font-size: 1.5em;
        margin: 0;
    }

    .presentacion__texts{
        min-height: 500px;
    }

    .nosotros__p{
        text-align: justify;
    }

    .nosotros, .accordion-section, .nuestros-trabajos, .contact{
        margin-top: 3em;
    }

    footer{
        min-height: 10vh;
    }

    .nav-fixed:hover{
        display: none!important;
    }

    #arrow-id{
        display: none;
    }
}

@media (max-width: 850px){
    .swiper-slide-active{
        left: 28%;
    }

    .swiper-button-next{
        margin-right: 20%;
    }

    .presentacion__texts h1{
        font-size: 3em;
    }

    .presentacion__texts p{
        font-size: 1em;
        width: 80%;
        line-height: 1.5em;
        font-size: 14px;
    }
    
    .card__info{
        padding: 1em;
    }

    .subindex{
        margin: .5em;
    }

    .card-left__child{
        margin-right: 5%;
    }

    .card-rigth__child{
        margin-left: 5%;
    }

    footer{
        min-height: 100px;
    }

    footer img{
        width: 50px;
    }

    .icons-container{
        justify-content: space-evenly;
    }
}

@media (max-width: 720px){
    .card-right, .card-left{
        background: rgba(255, 255, 255, 0.3);
        border-radius: 15px;
        margin: 3em auto;
        height: auto;
        width: 70%;
    }

    .card-rigth__child, .card-left__child{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        margin: 1em;
        flex-direction: column-reverse;
        text-align: center;
    }

    .card__info{
        width: 80%;
    }

    .card-left .card__img, .card-right .card__img{
        width: 80%;
        height: auto;
        margin-bottom: 2em;
    }

    .subindex{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
    }

    .accordion-section__img{
        width: 60%;
        margin: 5em;
    }

    .accordion-section__child{
        flex-direction: column-reverse;
    }

    .accordion{
        width: 80%;
    }

    .contact form{
        width: 80%;
    }

    .nosotros__p{
        font-size: 16px;
    }

    .presentacion__texts h1{
        font-size: 32px;
    }

    .services__h2, .nosotros__h2, .formula__h2, .nuestros-trabajos h2 {
        font-size: 32px;
    }
}

@media (max-width: 620px){
    .swiper-slide-active{
        left: 20%;
    }

    .logo{
        width: 40%;
    }

    .alkimia-logo{
        display: none;
    }

    .card-right, .card-left{
        width: 85%;
    }
}

@media (max-width: 500px){
    .swiper-slide-active{
        left: 10%;
    }
}